header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.logo {
  width: 10rem;
  height: 10rem;
  background-image: url(./img/rocket.svg);
  background-size: contain;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2vw 2vw 0vw;
}

.navigation a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation img {
  max-width: 40%;
  height: auto;
} 

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vw;
}

h1 img {
  display: block;
  max-width: 40%;
  height: auto;
}

